
a {text-decoration: none; color:black;}
li { list-style: none }

#main{
    display:block;
    max-width:1180px;
    margin:0 auto;
    }       
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

        #menu{
            background-color: red;
            border: 5px solid red;
            padding: 5px 10px;
            font-size: 36pt;
            color: white;
            text-align: center;
        }

        #header-logo{
            float:left;
        }

        #header{
            width: 50%;
            height: 90px;
            font-size: 16pt;
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #header2_div{
            display:inline;
            text-align: right;
        }
        #header2{
            font-size:16pt;
        }

        .img{
            width: 500px;
            height: 500px;
        }        

        
        
       
        
    footer{
        
        width:100%;
        clear: both;
        background:red;
        font-size:32pt;
        text-align: center;

    }
    footer p {
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
    }

    footer a{font-size: 32px; color: white;}