*{margin:0; padding:0;}

div#main{
	width:500px;	height:200px;
	margin:200px auto;
	text-align:center;
}
h3{	display:inline-block; margin:5px 0;}

div.inDiv{
	display: inline-block;
	width:200px;	height:50px;
	border:1px solid lightgreen;
	vertical-align: middle;
	text-align:center;
	padding:15px 50px;
}
div.inDiv input{
	width:200px; height:40px;
}
div.sub{
	margin-top:5px;
}

div.sub input[type=submit]{
	width:250px; height:50px;
	outline-style: none;
	background-color:lightgreen;
}